<br />

<% include sidebar %>

<% if (submittedAssignment[0]) { %>

  <div class="container" style="margin-left:0px;">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="page-header" style="margin-top:0px;">ASSIGNMENT: <%= submittedAssignment[0].Assignment.name %></h1>

        <table class="table table-stripped table-bordered" style="background-color:rgba(255,255,255,0.4);">
          <thead>
            <tr>
              <th>#</th>
              <th>Student Name</th>
              <th>Mentor Name</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>

            <% for (var key in submittedAssignment) { %>

              <tr class="clickable-row row-highlight" data-href="/codemirror2/<%= submittedAssignment[key].id %>">
                <th scope="row"><%= submittedAssignment[key].id %></th>
                <td><%= submittedAssignment[key].Student.first_name %> <%= submittedAssignment[key].Student.last_name %>
                  <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                      <span class="glypicon glyphicon glyphicon-pencil"></span>
                    </button>
                  </div>
                </td>
                <td><%= submittedAssignment[key].Mentor.first_name %></td>
                <td><%= submittedAssignment[key].status %></td>
              </tr>

            <% } %>

          </tbody>
        </table>
      </div>
    </div>
  </div>

<% } else { %>

  <h1 class="page-header" style="margin-top:0px;">This assignment does not exist</h1>

<% } %>